<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>ConectSmart - Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles.css">

  

</head>
<body>

 
<div class="container">
 
  <h1>Mensagem Programada</h1>
  


  <!-- Formulário -->
<form id="formMensagem">
  <input type="hidden" name="_csrf" value="%%CSRF_TOKEN%%" id="csrfToken">

  <label for="numero">Número do WhatsApp:</label>
  <input type="text" id="numero" name="numero" required>

  <label for="cliente">Nome do Cliente:</label>
  <input type="text" id="cliente" name="cliente" required>

  <label for="mensagem">Mensagem:</label>
  <textarea id="mensagem" name="mensagem" rows="4" required></textarea>

  <label for="dataEnvio">Data de Envio:</label>
  <input type="datetime-local" id="dataEnvio" name="dataEnvio" required>

  <label for="ciclo">Ciclo de Envio:</label>
  <select id="ciclo" name="ciclo">
    <option value="nenhum">Nenhum</option>
    <option value="semanal">Semanal</option>
    <option value="mensal">Mensal</option>
    <option value="trimestral">Trimestral</option>
  </select>

  <button type="submit">Agendar Mensagem</button>
</form>


<form action="/logout" method="GET">
  <button type="submit" class="logout-button">Sair</button>
  </form>


<label for="filtro">🔍 Filtrar:</label>
<select id="filtro">
  <option value="todos">Todos</option>
  <option value="pendentes">Pendentes (não enviados)</option>
  <option value="enviados">Enviados</option>
  
</select>


  <!-- Lista de Agendamentos -->
  <div class="agendamentos">
    <h2>Agendamentos Futuros</h2>
    <div id="listaAgendamentos">Carregando agendamentos...</div>
  </div>
</div>

<button onclick="baixarRelatorio('todos')">📥 Relatório Geral</button>
<button onclick="baixarRelatorio('pendentes')">📥 Relatório Pendentes</button>
<button onclick="baixarRelatorio('enviados')">📥 Relatório Enviados</button>
<button onclick="baixarRelatorio('ocultos')">📥 Relatório Ocultos</button>





<div id="agendamentosContainer"></div>

<script src="https://unpkg.com/inputmask/dist/inputmask.min.js"></script>
<script src="/js/inputmask.min.js"></script>
<script src="/js/dashboard.js"></script>

</body>
</html>
